<div class="centered-content">
  <h1><%= @vendor["attributes"]["name"] %></h1>
</div>
  Contact Info:<br>
  Name: <%= @vendor["attributes"]["contact_name"] %><br>
  Phone: <%= @vendor["attributes"]["contact_phone"] %><br>
  <p>Credit Accepted?: <%= @vendor["attributes"]["accept_credit"] ? 'YES' : 'NO' %></p>
  <p>Description: <%= @vendor["attributes"]["description"] %></p>
